:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color:  #2196F3;
    --secondary-text-color: #ffffff;
    --button-background: #f5f4fa;
}

body {
  font-family: roboto, sans-serif;
  color:var(--title-text-color);
}
li {
  list-style: none;
}
ul{
  margin: 0;
  padding: 0;
}
img{
  display: block;
}


.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
overflow: hidden;
}
/* Шапка сайта */
.header {
  align-items: center;
  border-bottom: 1px solid #ECECEC;
}
.main-link {
  display: flex;
  align-items: center;
}

.logo {
  color:var(--accent-color);
  font-family: raleway, sans-serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-right: 93px;
}
.logo-part {
  color: var(--title-text-color);
}
.logo-lower {
  color:var(--secondary-text-color);
}

 .site-nav {
display: flex;
}

.item {
margin-right: 50px;
}

 .item:last-child {
margin-right: 0;
}

.nav-links {
  position: relative;
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-block;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-links:hover,
.nav-links:focus {
  color:var(--accent-color);
}

.current::after{
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  
}

.current{
  color: var(--accent-color);
}
.communication {
  display: flex;
  margin-left: auto;
}
 
.communication-first {
  display: flex;
  justify-content: center;
  align-items: center;
  color:var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.letter-icon{
  margin-right: 10px;
  fill: #757575;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.phone-icon{
 margin-right: 10px;
 fill: #757575;

 transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.communication-first:hover .letter-icon,
.communication-first:focus .letter-icon{
  fill: var(--accent-color);
}
.communication-first:hover .phone-icon,
.communication-first:focus .phone-icon{
  fill: var(--accent-color);
}
.communication-first:hover,
.communication-first:focus {
  color:var(--accent-color);
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px 0 15px;
}

/*Герой */
.hero {
   text-align: center;
   padding-top: 200px;
   padding-bottom: 200px;
}

.hero-title {
  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 0;
}
.overlay{
   height: 600px;
   max-width: 1600px;
   margin-left: auto;
   margin-right: auto;
   background-color: rgba(47, 48, 58, 0.4);
   background-size:cover;
   background-position: center;
   background-repeat: no-repeat;
   
   background-image: linear-gradient(to right, rgba(0,0,0,0.4),rgb(0,0,0,0.4)),
    url(../images/Img-hero.jpg);
}
.button {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  border: transparent;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

 /* Преимущества */

 .section {
   padding-top: 94px;
   padding-bottom: 94px;
 }
 .section.no-padding {
   padding-top: 0
 }

.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.section-item {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 10px;
}

.section-item:last-child {
  margin-right: 0;
}

.information {
  font-size: 14px;
  line-height: 1.7;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}

.information:last-child{
margin-right: 0;
}
.advantage{
  display: flex;
  border-radius: 4px;
  margin-bottom: 30px;
}

.advantage-list{
  display: flex;
  justify-content: center;
  background-color: #F5F4FA;
  width: 270px;
  height: 120px;
  margin-right: 30px;
}
.advantage-list:last-child{
  margin-right: 0;
}
.advantage-icon{
  margin-top: 20px;
}

/* Услуги */
.service-list{
  display: flex;
}
.service-item {
  background-color: #FFFFFF;
  margin-right: 30px;
  position: relative;
}
.service-item:last-child {
  margin-right: 0;
}

 .service-link{
text-align: center;
background-color: rgba(47, 48, 58, 0.8);
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
color: #fff;;
text-transform: uppercase;
text-decoration: none;
width: 370px;
height: 70px;
position: absolute;
bottom: 0;
padding-top: 27px;
margin: 0;
} 

 /* Сотрудники */
.our-team{
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #F5F4FA;
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}
.profession {
  color:var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0;
}
.border{
  border-radius: 0px 0px 4px 4px;
  border: 1px solid #EEEEEE;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.social-div{
  width: 206px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
   margin-top: 16px;
}

.social-item{
  width: 44px;
  height: 44px;
  margin-right: 10px;
  align-items: center;
}
.social-item:last-child{
  margin-right: 0;
}
.social-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon{
  fill:#AFB1B8;

 transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover .icon,
.social-link:focus .icon{
  fill: #ffffff;
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.list{
  display: flex;
}
.list-item {
  background-color: #FFFFFF;
  margin-right: 30px;
}
.list-item:last-child {
  margin-right: 0;
}
/* Постоянные клиенты */

.clients{
  display: flex;
  align-items: center;
}

.client-item{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 30px;
}
.client-item:last-child{
  margin-right: 0;
}
.client-icon{
  fill: #AFB1B8;

 transition:fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;

 transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover .client-icon,
.client-link:focus .client-icon{
  fill: var(--accent-color);
}
.client-link:hover,
.client-link:focus {
  border-color: var(--accent-color);
}

/* Футер */
.footer-bg{
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
background-color:  #2F303A;
}
.footer{
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}
.footer-div {
  margin-right: 70px;
}

.address {
  color:var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  margin-bottom: 9px;
  letter-spacing: 0.03em;
  margin-top: 20px;
}
.communication-second {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  margin-bottom: 9px;
}

.footer-title{
font-weight: bold;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 20px;
}

.social-footer-icons{
  width: 206px;
  height: 44px;
}

.social-footer-item{
  display: flex;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1)
}

.social-footer-item:last-child{
  margin-right: 0;
}

.footer-icon{
  fill: #ffffff;
}

/* Портфолио */

.filtr{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filtr-list{
  margin-right: 8px;
}
.filtr-list:last-child{
  margin-right: 0;
}
.portfolio-button {
  color: var(--title-text-color);
  background-color:var(--button-background);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border: transparent;

  transition-property: color, background-color,box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:focus,
.portfolio-button:hover {
  background-color:var(--accent-color);
  color: var(--secondary-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
   0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-elements {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  position: relative;

 transition-property: box-shadow, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}
.portfolio-elements:nth-child(3n) {
  margin-right: 0;
}
.portfolio-elements:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.portfolio-elements:focus,
.portfolio-elements:hover{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
  opacity: 1;
}

.hover-text{
position: absolute;
display: inline-block;
width: 100%;
height: 100%;
padding: 64px 24px;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #fff;
  opacity: 0;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  transform: translateY(100%);
}
.portfolio-elements:hover .hover-text,
.portfolio-elements:focus .hover-text{
  opacity: 1;
  transform: translateY(0%);
}
.hover-overlay{
  overflow: hidden;
  position: relative;
}

.hover-overlay::before{
  content: "";
  width: 370px;
  height: 294px;
  display: block;

  position: absolute;
  left: 0;
  top: 0;

  background-color:rgba(33, 150, 243, 0.9);
  opacity: 0;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  transform: translateY(100%);
}

.portfolio-elements:hover .hover-overlay::before,
.portfolio-elements:focus .hover-overlay::before{
  opacity: 1;
  transform: translateY(0);
} 

.portfolio-border{
  border: 1px solid #EEEEEE;
  border-top: transparent;
  padding: 20px 24px 20px 24px;
  cursor: pointer;
  }

.portfolio-title {
  color:var(--title-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  margin-top: 0;
}
.portfolio-item {
  color:var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
  margin: 0;
}
.portfolio-link {
  text-decoration: none;
}
button {
  font-family: inherit;
}

/* Модальное окно */
.backdrob{
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrob.is-hidden{
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrob.is-hidden .modal{
  transform: translate(-50%, -50%) scale(1.1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */

  min-width: 528px;
  min-height: 521px;
  background-color: #fff;

  transform:translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close{
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  margin-top: 8px;
  margin-right: 8px;
  }